@use "../../../../assets/scss/utils/" as *;

.hero {
  display: flex;
  flex-direction: row;
  .hero-img-wrapper {
    width: 100%;
    height: auto;
    max-width: rem(905);
    margin-left: auto;
    .hero-img {
      &::before {
        content: "";
        height: rem(682);
        background-color: var(--rose-background);
      }
      max-width: rem(905);
    }
  }
}
