<section class="hero">
  <div class="hero__content">
    <h1>Cumplí tu Sueño con nosotros</h1>
    <p>
      Cuanto más te esfuerzes por algo, mejor te vas a sentir cuando lo
      consigas.
    </p>
    <div class="hero__button-group">
      <button class="btn-primary" type="button">
        <span>INSCRIBITE</span>
      </button>
      <button class="btn-secondary" type="button">
        <span>CALCULAR PRÉSTAMOS</span>
      </button>
    </div>
  </div>
  <!--  Wrapped for later use, perhaps <picture> tag 
        for alternative image source on small screens -->
  <div class="hero__pink-bg"></div>
  <img class="hero__img" src="assets/family.png" alt="Family of 4" />
  <scrollable-content></scrollable-content>
</section>
