:root {
  --light-rose: hsla(328, 82%, 93%, 0.3);
  --rose-background: hsl(329, 100%, 96%);
  --pink-primary: hsl(328, 99%, 47%);
  --light-grey: hsl(0, 0%, 80%);
  --smoke-grey: hsl(0, 0%, 40%);
  --dark-smoke-grey: hsl(0, 0%, 20%);
}
