<header class="header container" aria-label="Main navigation" role="navigation">
  <a href="#"><img src="assets/logo.png" alt="IPDC Argentina" /></a>
  <nav>
    <ul class="nav-container">
      <li><a href="#">PERSONAS</a></li>
      <li><a href="#">PyMES</a></li>
      <li><a href="#">EMPRESA</a></li>
      <li><a href="#">SOBRE NOSOTROS</a></li>
      <li><a href="#">COVID 19</a></li>
      <li><a href="#">CAMPAÑAS</a></li>
    </ul>
  </nav>
  <!-- ?Magnifying glass function not clear -->
  <a href="#" class="search-icon">
    <img src="assets/icons/magnifier.svg" alt="Search" />
  </a>
  <button class="btn-primary" type="button" aria-label="i-service">
    <span>iSERVICE</span>
  </button>
</header>
