@use "../../../assets/scss/utils/" as *;

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: rem(32) rem(135);
  img {
    padding-right: rem(96);
    height: 100%;
    max-width: auto;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    font-family: "Metropolis";
    font-size: rem(12);
    font-weight: 600;
    line-height: rem(20);
    letter-spacing: rem(2);
    li {
      list-style: none;
      margin-right: rem(24);
      a {
        &:hover {
          color: grey; //change later to global variable
        }
      }
    }
  }
  .search-icon {
    margin-left: rem(96);
    width: rem(24);
    height: rem(24);
    img {
      padding: 0;
    }
  }
  .button-iservice {
    padding: 0;
    margin: 0;
    margin-left: rem(32);
    height: rem(36);
    border: none;
    background-color: var(--pink-primary); //change later to global variable
    border-radius: rem(4);
    cursor: pointer;
    span {
      color: #ffffff;
      font-family: "Rubik", sans-serif;
      font-size: rem(12);
      font-weight: 500;
      line-height: rem(20);
      letter-spacing: rem(2);
      padding: 0 rem(20) 0 rem(20);
    }
  }
}
