@use "../../../assets/scss/utils/" as *;

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: rem(32) rem(135);
  a {
    padding: 0;
    img {
      height: 100%;
      max-width: auto;
    }
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    font-family: "Metropolis";
    font-size: rem(12);
    font-weight: 600;
    line-height: rem(20);
    letter-spacing: rem(2);
    margin-left: rem(96);
    li {
      list-style: none;
      margin-right: rem(20);
      a {
        &:hover {
          color: var(--pink-primary);
        }
      }
    }
  }
  .search-icon {
    margin-left: rem(96);
    margin-right: rem(32);
    width: rem(24);
    height: rem(24);
    img {
      padding: 0;
    }
  }
}
