@use "../../../assets/scss/utils/" as *;

main {
  position: relative;
  height: 100%;
}

/* Experiences */
.experiences__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  h2 {
    margin: rem(25) 0 0 0;
    padding: 0;
    color: var(--dark-smoke-grey);
    font-family: "Metropolis", sans-serif;
    font-size: rem(36);
  }
  p {
    margin: rem(20) 0 0 0;
    padding: 0;
    max-width: rem(660);
    text-align: center;
    color: var(--smoke-grey);
    font-family: "Metropolis", sans-serif;
    font-size: rem(16);
  }
}

.experiences__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: rem(24);
  margin: rem(75) rem(135);
  .experiences__cell {
    width: rem(260);
    img {
      margin: rem(24) 0 0 rem(24);
    }
    .experiences__cell-text {
      width: rem(160);
      height: rem(128);
      margin-left: rem(24);
      margin-bottom: rem(24);
      h4 {
        margin: rem(18) 0 rem(10) 0;
        color: var(--dark-smoke-grey);
        font-family: "Metropolis", sans-serif;
        font-size: rem(22);
        font-weight: 700;
        line-height: rem(22);
        letter-spacing: rem(0);
      }
      p {
        margin: 0;
        color: var(--smoke-grey);
        font-family: "Metropolis", sans-serif;
        font-size: rem(14);
        font-weight: 500;
        line-height: rem(24);
        letter-spacing: rem(0);
      }
    }
  }
}
/* Business Partners */
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: rem(450);
  background-color: var(--light-rose);
  h1 {
    margin: rem(78) 0;
    color: var(--dark-smoke-grey);
    font-family: "Metropolis", sans-serif;
    font-size: rem(23);
    font-weight: 500;
    line-height: rem(23);
    letter-spacing: rem(2.1);
  }
  .partners__items {
    margin-top: rem(10);
    margin-bottom: rem(67);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: rem(42);
    .partners__logo {
      width: rem(170);
      height: rem(100);
    }
  }
  .partners__navigation {
    .partners__navigation-dots {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      li {
        width: rem(8);
        height: rem(8);
        padding-right: rem(18);
        cursor: pointer;
      }
    }
  }
}
