<header>
  <navbar></navbar>
</header>
<main>
  <hero></hero>
  <!-- Experiences -->
  <section class="experiences">
    <div class="experiences__header">
      <h2>Experiencias Extraordinarias para Nuestos Clientes</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, neque
        minus natus mollitia sapiente dicta repellendus voluptate dolor sit
        amet.
      </p>
    </div>
    <div class="experiences__grid-container">
      <div class="experiences__grid">
        <div class="experiences__cell" *ngFor="let exp of experiencias">
          <img src="{{ exp.img }}" alt="`${{ exp.title }} logo`" />
          <div class="experiences__cell-text">
            <h4>{{ exp.title }}</h4>
            <p>{{ exp.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Business Partners -->
  <section class="partners">
    <h1>BUSINESS PARTNERS</h1>
    <div class="partners__items">
      <img
        class="partners__logo"
        src="assets/icons/partners/westin.svg"
        alt="westin"
      />
      <img
        class="partners__logo"
        src="assets/icons/partners/summit.svg"
        alt="summit"
      />
      <img
        class="partners__logo"
        src="assets/icons/partners/holcim.svg"
        alt="holcim"
      />
      <img
        class="partners__logo"
        src="assets/icons/partners/etv.svg"
        alt="etv"
      />
    </div>
    <nav class="partners__navigation">
      <ul class="partners__navigation-dots">
        <li>•</li>
        <li>•</li>
        <li>•</li>
        <li>•</li>
      </ul>
    </nav>
  </section>
  <!-- At A Glance -->
  <section class="glance">
    <div>
      <img
        src="assets/bills.png"
        alt="brote de planta cubierta por un billete"
      />
      <div class="glance__text">
        <h2>UN VISTAZO A IPDC</h2>
        <p>
          IPDC Finance Limited (antes conocida como "Industrial Promotion and
          Development Company of Buenos Aires Limited") es la primera
          institución financiera del sector privado del país, creada en 1981 por
          un distinguido grupo de accionistas, a saber, la Corporación
          Financiera Internacional (CFI), de EE.UU., la Compañía Alemana de
          Inversiones y Desarrollo (DEG), de Alemania, el Fondo Aga Khan para el
          Desarrollo Económico (AKFED), de Suiza, la Corporación de Desarrollo
          de la Commonwealth (CDC), del Reino Unido, y el Gobierno Argentino.
        </p>
        <button>
          <span>Leer Más</span>
          <img src="assets/icons/right-arrow.svg" alt="flecha derecha" />
        </button>
      </div>
    </div>
  </section>
</main>
